

html {

}

body {


    background: url(https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers.jpg) no-repeat center center fixed;
    /* Hintergrundbild Lizenz: CC0 LICENSE Autor: Unsplash (unslpash.com) */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Hier wird Festgelegt, dass das Hintergrundbild sich automatisch an die Browsergröße anpasst */
}

.apollo {

    padding-top: 60px;

}
    /* Macht, dass die "Panele" mit dieser Funktion 60px von der Oberen Kante weg sind */

.gemini {


    color: white;
    text-shadow: 0 0 5px black;

}

    /* macht, dass schriften hier weiß sind und einen schwarzen Rahmen haben */



.panel {
    background-color: rgba(255, 255, 255, 0.7532);
    /* Hintergrundfarbe für die Panele */
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;

}

.margin-base-vertical {
    margin: 40px 0;
}