html {
    background: url(https://svs.gsfc.nasa.gov/vis/a000000/a004100/a004129/earthrise.2400.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}